*{
	box-sizing: border-box;
}

img{
	width: 100%;
	height: 100%;
}

body>header{
	
}

body>#contarCasas{
	background-image: url("./imagenes/fondo-contar.png");
	background-color: #4C6AA9; /*color por si la imagen no esta disponible*/
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body>footer{

}
