@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*{
	box-sizing: border-box;
}

html{
	min-width: 768px;
    max-width: 2048px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /*-> yo pienso que se debera de poner para que la imagen de fondo se ajuste como queremos, ya que si no, se entrecorta y no se ve bien (se ve el color de fondo). En ordenador conlleva a que deje de verse bien porque ajusta el tamaño de la pantalla al que le indiques tu por lo que deja de verse bien, lo podemos poner al final y preguntarle la semana que viene a ver*/
}

body{
	box-sizing: border-box;
	margin: 0 auto;
	width: 80%;
	font-family: 'PT Sans', sans-serif;
	background-image: url("./background-image/background-farm-school.jpg");
	background-color: #A58F55; /*color por si la imagen no esta disponible*/
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 22px;
	position: relative;
}

	/****************************************************CLASES**************************************************************/

		.tituloJuego{
			border-top: 0.3em solid #8A6300;
			padding-top: 2%;
			margin-bottom: 2%;
		}

		.botones{
			display: table;
			text-decoration: none;
			color: #ffffff;
			box-shadow: 0 0.3em 0.3em 0.2em #AB8354;
			border-radius: 0.5em;
			background-color: #C19663;
			cursor: pointer;
			height: 1.5em;
			width: 15em;
			text-align: center;
			font-weight: bold;
			margin: auto;
		}

		.botones:hover{
			background-color: #ffffff;
			box-shadow: none;
			color: #000000;
		}

		.botones:focus{
			background-color: #ffffff;
			box-shadow: none;
			color: #000000;
		}

			.botones>span{
				display: table-cell;
				vertical-align: middle;
			}

		.botones-modal{
			display: table;
			text-decoration: none;
			color: #ffffff;
			border: 0.2em solid #8E7345;
			border-radius: 1em;
			cursor: pointer;
			background-color: #C6943D;
			text-align: center;
			font-weight: bold;
			margin: auto;
			height: 3em;
			width: 8em;
		}

			.botones-modal:hover{
				color: #000000;
				background-color: #ffffff;
			}

			.botones-modal:focus{
				color: #000000;
				background-color: #ffffff;
			}

		.imagenes-corral{
			filter: contrast(250%) saturate(250%) brightness(130%);
		}

		.preguntas{
			font-size: 100%;
			font-weight: bold;
			display: flex;
			justify-content: center;
		}

			.preguntas>span{
				align-self: center;
			}

			.preguntas>img{
				width: 5%;
				height: 5%;
				align-self: center;
				margin-left: 3%;
				margin-right: 3%;
			}

		.respuestas{
			display: flex;
			flex-wrap: wrap;
		}

		.respuestas>button{
			background-color: #CB8947;
			border: 0.2em solid #784919;
			padding: 5%;
			font-size: 100%;
			color: #ffffff;
			cursor: pointer;
		}

			.respuestas>button:hover{
				background-color: #ffffff;
				color: #000000;
			}

			.respuestas>button:focus{
				background-color: #ffffff;
				color: #000000;
			}

			.respuestas>p:active{
				background-color: #ffffff;
				color: #000000;
			}

		.drop-hover{
			background-color: #ffffff !important;
			color: #000000 !important;
		}

		.drop-hover-image{
			filter: brightness(115%) !important;
		}

		.modal{
			width: 100%;
			height: 100%;
			background: rgba(204, 157, 111, 0.8);
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			animation: modal 0.5s 0s forwards;
			z-index: 48; 
		}

		.contenido{
			margin: auto; 
			width: 40%;
			height: 20em;
			background-color: #C38345;
			border-radius: 10px;
			border: 0.3em solid #8E531A;
			z-index: 50;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

			.contenido>p{
				font-weight: bold;
				color: #000000;
				margin: auto;
				font-size: 25px;
				margin-top: 1em;
			}

			.contenido>#estadisticas{
				font-weight: bold;
				width: 80%;
				border: 0.2em solid #8E531A;
				margin: auto;
				margin-top: 2em;
			}

				.contenido>#estadisticas>p:first-of-type{
					width: 100%;
					font-size: 30px;
					border-bottom: 0.2em solid #8E531A;
					margin-bottom: 0.5em;
				}

				.contenido>#estadisticas>p{
					color: #000000;
					font-size: 25px;
					margin: auto;
					margin-bottom: 0.5em;
				}

		.contenedor-cerrar-modal{
			display: flex;
			flex-direction: column;
			height: 50%;
		}

	/*************************************************************************************************************************************/


	/*********************************************************ANIMACIONES*****************************************************************/
	
	@keyframes mano{
		from{
				top: 0%;
				background-image: url("./imagenes/tutorial/animaciones/mano/tutorial-mano-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
		to{
				top: 15%;
				background-image: url("./imagenes/tutorial/animaciones/tocar/tutorial-mano-toque-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
	}

	@keyframes mano-modal{
		from{
				top: 10%;
				background-image: url("./imagenes/tutorial/animaciones/mano/tutorial-mano-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
		to{
				top: 30%;
				background-image: url("./imagenes/tutorial/animaciones/tocar/tutorial-mano-toque-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
	}

	@keyframes mano-creditos{
		from{
				top: 75%;
				background-image: url("./imagenes/tutorial/animaciones/mano/tutorial-mano-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
		to{
				top: 80%;
				background-image: url("./imagenes/tutorial/animaciones/tocar/tutorial-mano-toque-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
	}

	@keyframes mano-contar{
		from{
				top: 10%;
				background-image: url("./imagenes/tutorial/animaciones/mano/tutorial-mano-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
		to{
				top: 35%;
				background-image: url("./imagenes/tutorial/animaciones/tocar/tutorial-mano-toque-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
	}

	@keyframes mano-drag{
		from{
				top: 40%;
				left: 55%;
				background-image: url("./imagenes/tutorial/animaciones/arrastrar/tutorial-mano-arrastrar-rellena.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
		to{
				top: 40%;
				left: 25%;
				background-image: url("./imagenes/tutorial/animaciones/mano/tutorial-mano-hacia-abajo.png");
				width: 60px;
				height: 60px;
				background-repeat: no-repeat;
				background-size: cover;
			}
	}

	@keyframes mano-click{
		0%{
				top: 85%;
				left: 15%;
				width: 60px;
				height: 60px;
				background-image: url("./imagenes/tutorial/animaciones/mano/tutorial-mano-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
		30%{
				top: 85%;
				left: 15%;
				width: 60px;
				height: 60px;
				background-image: url("./imagenes/tutorial/animaciones/tocar/tutorial-mano-toque-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
		70%{
				top: 75%;
				left: 25%;
				background-image: url("./imagenes/tutorial/animaciones/mano/tutorial-mano-hacia-abajo.png");
				width: 60px;
				height: 60px;
				background-repeat: no-repeat;
				background-size: cover;
			}
		100%{
				top: 75%;
				left: 25%;
				background-image: url("./imagenes/tutorial/animaciones/tocar/tutorial-mano-toque-hacia-abajo.png");
				width: 60px;
				height: 60px;
				background-repeat: no-repeat;
				background-size: cover;
			}
	}

	@keyframes mano-respuestas{
		from{
				top: -100%;
				background-image: url("./imagenes/tutorial/animaciones/mano/tutorial-mano-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
		to{
				top: 0%;
				background-image: url("./imagenes/tutorial/animaciones/tocar/tutorial-mano-toque-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
	}

	@keyframes mano-respuestas-contar-casas{
		from{
				top: -30%;
				left: 65%;
				background-image: url("./imagenes/tutorial/animaciones/mano/tutorial-mano-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
		to{
				top: 10%;
				left: 65%;
				background-image: url("./imagenes/tutorial/animaciones/tocar/tutorial-mano-toque-hacia-abajo.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
	}

	.mano-tutorial{
		position: absolute;
		width: 60px;
		height: 60px;
		transform: rotate(70deg);
		z-index: 10;
		left: 55%;
		top: 10%;
		animation-name: mano;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}

	.mano-tutorial-modal{
		position: absolute;
		width: 60px;
		height: 60px;
		transform: rotate(70deg);
		z-index: 10;
		left: 55%;
		top: 10%;
		animation-name: mano-modal;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}

	.mano-tutorial-creditos{
		position: absolute;
		width: 60px;
		height: 60px;
		transform: rotate(70deg);
		z-index: 10;
		left: 55%;
		top: 10%;
		animation-name: mano-creditos;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}

	.mano-tutorial-contar{
		position: absolute;
		width: 60px;
		height: 60px;
		transform: rotate(70deg);
		z-index: 10;
		left: 50%;
		top: 10%;
		animation-name: mano-contar;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}

	.mano-tutorial-respuestas{
		position: absolute;
		width: 60px;
		height: 60px;
		transform: rotate(70deg);
		z-index: 10;
		left: 55%;
		top: -100%;
		animation-name: mano-respuestas;
		animation-duration: 1.5s;
		animation-iteration-count: 10;
	}

	.mano-tutorial-respuestas-contar-casas{
		position: absolute;
		width: 60px;
		height: 60px;
		transform: rotate(70deg);
		z-index: 10;
		left: 55%;
		top: -100%;
		animation-name: mano-respuestas-contar-casas;
		animation-duration: 1.5s;
		animation-iteration-count: 10;
	}

	.mano-tutorial-drag{
		position: absolute;
		width: 40px;
		height: 60px;
		transform: rotate(70deg);
		z-index: 10;
		left: 55%;
		top: 0%;
		animation-name: mano-drag;
		animation-duration: 1.5s;
		animation-iteration-count: 10;
	}

	.mano-tutorial-click{
		position: absolute;
		width: 40px;
		height: 60px;
		transform: rotate(70deg);
		z-index: 10;
		left: 55%;
		top: 0%;
		animation-name: mano-click;
		animation-duration: 1.5s;
		animation-iteration-count: 10;
	}

	.contenedor-mano-tutorial{
		position: relative;
	}

	/********************************************************************************/


	body>main{
		background-color: #DEC78D;
		border-left: 0.3em solid #8A6300;
		border-right: 0.3em solid #8A6300;
		position: relative;
	}

		body>main>header{
			background-color: #B2913A;
			border-top: 0.3em solid #8A6300;
			border-bottom: 0.3em solid #8A6300;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			text-align: center;
		}

			body>main>header>a{
				overflow: hidden;
				transition: all .35s ease-in-out;

			}

			body>main>header>a:hover{
				filter: brightness(115%);
				cursor: pointer;
			}

			body>main>header>a:focus{
				filter: brightness(115%);
			}

				body>main>header>a>img{

					width: 200px;
					height: 150px;

				}

		body>main>div{
			display: table;
			margin-bottom: 2%;
			width: 100%;
		}

			body>main>div>h2{
				display: table-cell;
				margin: 0;
				text-align: center;
				height: 100%;
				margin: auto;
				font-size: 150%;
				vertical-align: middle;
			}


	/*MENÚ*/

	body>main>nav{
		display: block;
		text-align: center;
		position: relative;
		text-align: center;
		top: 0px;
		font-size: 25px;
	}
		body>main>nav>h2{
			margin-top: 3%;
			margin-bottom: 3%;
		}
		body>main>nav>ul{
			display: block;
			margin: 0;
			padding: 0;
			height: 100%;
			font-weight: bold;
			margin-bottom: 5%;
		}
			body>main>nav>ul>li{
				list-style: none;
				display: block;
				width: 30%;
				margin: auto;
				margin-bottom: 1em;
			}
				body>main>nav>ul>li>a{
					display: block;
					color: #ffffff;
					padding: 0.7em;
					text-decoration: none;
					border-radius: 0.5em;
					background-color: #C19663;
					box-shadow: 0 0.3em 0.3em 0.2em #AB8354;
				}

				body>main>nav>ul>li>a:hover{
					background-color: #ffffff;
					color: #000000;
					box-shadow: none;
					cursor: pointer;
				}

				body>main>nav>ul>li>a:focus{
					background-color: #ffffff;
					color: #000000;
					box-shadow: none;
				}

					body>main>nav>ul>li:first-of-type>a>span>img{
						height: 20%;
						width: 20%;
					}

					body>main>nav>ul>li>a>span>img{
						height: 15%;
						width: 15%;
					}

				body>main>nav>input{
					display: none;
				}

				body>main>nav>label{
					display: none;
					position: relative;
					color: #ffffff;
					padding: 0.7em;
					text-decoration: none;
				}
				body>main>nav>label:hover{
					background-color: #ffffff;
					color: #000000;
					cursor: pointer;
					border-radius: 10px;
				}

					body>main>nav>label>span{
						display: inline-block;
					}


	/*TABLAS*/

	body>main>section>h3{
		margin: 0;
		margin-top: 0.2em;
		margin-bottom: 0.2em;
		text-align: center;
	}

	body>main>section>h3:first-of-type{
		margin: 0;
		margin-top: 0.2em;
		text-align: center;
	}

	body>main>section>p{
		margin: 0;
		margin: 0.5em;
		font-size: 1em;
	}

	body>main>section>div>a{
		margin: 0;
		margin-top: 1em !important;
		margin-bottom: 1em !important;
	}

	#contTablasCred{
		display: flex;
		justify-content: center;
	}

	.tabla{
		margin: auto;
		border: 0.3em solid #8A6300;
		border-width: 5px;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		border-collapse: collapse;
		font-size: 1em;
	}

	.tabla>caption{
		background-color: #C2803C;
		border-top: 0.3em solid #8A6300;
		border-left: 0.3em solid #8A6300;
		border-right: 0.3em solid #8A6300;
		font-weight: bold;
		color: #ffffff;
	}

	.tabla>tbody>tr:nth-child(even){
		background-color: #D1A271;
	}

		.tabla>tbody>tr>td{
			padding: 0.6em;
			border: 0.3em solid #8A6300;
		}

			.tabla>tbody>tr>td>a{
				text-decoration: none;
				color: #D67731;
				font-weight: bold;
			}

			.tabla>tbody>tr>th{
				border: 0.3em solid #8A6300;
			}

	/*JUEGOS*/
	
	body>main>#contarCasas{
		display: flex;		
		height: 100%;
		width: 100%;
		border-top: 0.3em solid #8A6300;
		border-bottom: 0.3em solid #8A6300;
		margin-bottom: 2%;

	}

		body>main>#contarCasas>#cv01{
			background-color: #4DC1FF; /*para el color del cielo*/
			margin: .5em;
			border: .3em solid #8A6300;
		}

		body>main>#restar{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		body>main>#restar>#cv02{
			border: .3em solid #8A6300;
			align-self: center;
		}

		#contenedorResultadosDerecha{
			width: 100%;
			margin: 0;
			text-align: center;
			margin: auto;
		}

			#contenedorResultadosDerecha>img{
				width: 50%;
			}

			#contenedorResultadosDerecha>#ponerRespuestas{
				
			}

				#contenedorResultadosDerecha>#ponerRespuestas>#respuestas{
					display: flex;
					flex-direction: row;
					justify-content: center;
					flex-wrap: wrap;
					margin: 1em;
				}

				#contenedorResultadosDerecha>#ponerRespuestas>#respuestas>button{
					padding: 1em;
					margin: 1em;
				}


	#contarVerduras{
		background-image: url("./imagenes/contar-verduras/huerto3-sin-hojas.png");
		background-color: #4DC1FF; /*para el color del cielo*/
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-top: 0.3em solid #8A6300;
		border-bottom: 0.3em solid #8A6300;
	}

		#contarVerduras>div{
			display: flex;
			flex-wrap: wrap;
			margin: 2%;
		}

			#contarVerduras>div>figure{
				margin: 0;
				width: 6.5%;
				margin-right: 1%;
				margin-bottom: 3%;
			}

			#contarVerduras>div>figure>img{
				width: 100%;
				height: 100%;
			}


		#contenedorResultados{
			text-align: center;
			height: 100%;
			padding-bottom: 2%;
			border-bottom: 0.3em solid #8A6300;
		}

			#contenedorResultados>#ponerRespuestas{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				color: #ffffff;
			}

				#contenedorResultados>#ponerRespuestas>div{
					width: 47%;
					height: 100%;
				}

				#contenedorResultados>#ponerRespuestas>#respuestas{
					display: flex;
					justify-content: space-between;
					align-self: center;
					margin-left: 1%;
				}

				#contenedorResultados>#ponerRespuestas>#colocarRespuesta{
					background-color: #AB7C4E;
					border: 0.3em solid #885522;
					padding-top: 7%;
					padding-bottom: 7%;
					align-self: center;
					margin-right: 1%;
				}

					#contenedorResultados>#ponerRespuestas>#colocarRespuesta>p{
						margin: 0;
					}


	#sumarAnimales{
		background-image: url("./imagenes/sumar/cesped.png");
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-top: 0.3em solid #8A6300;
		border-bottom: 0.3em solid #8A6300;
		display: flex;
		justify-content: space-between;
	}

		#sumarAnimales>div{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
		}

		#sumarAnimales>#animalesDentro{
			margin: 0 auto;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

			#sumarAnimales>#animalesDentro>img{
				height: 100%;
				width: 115%;
				position: absolute;
				left: -12%;
			}

			#sumarAnimales>div>figure{
				width: 10%;
				height: 10%;
				margin: 0;
				margin: 10%;
				z-index: 5;
			}

				#sumarAnimales>div>figure>img{
					width: 100%;
					height: 100%;
				}



		body>main>button{
			margin-top: 3em !important;
			margin-bottom: 2em !important;
		}


	/*FOOTER*/

	body>main>footer{
		clear: both;
		text-align: center;
		background-color: #B2913A;
		padding: 1em;
		border-top: 0.3em solid #8A6300;
		border-bottom: 0.3em solid #8A6300;
	}

		body>main>footer>p{

			color: #000000;
			margin: 0;
			font-size: 15px;

		}

		body>main>footer>p>strong>a{
			text-decoration: none;
			color: #000000;
		}

			body>main>footer>p>strong>a:hover{
				color: #ffffff;
				cursor: pointer;
			}

			body>main>footer>p>strong>a:focus{
				color: #ffffff;
			}

	/*MEDIA QUERIES*/

	@media all and (min-width: 1500px){

		#contenedorResultadosDerecha>img{
			width: 25%;
		}

	}