@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html{
	min-width: 768px;
    max-width: 2048px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*height: 100%; /*-> yo pienso que se debera de poner para que la imagen de fondo se ajuste como queremos, ya que si no, se entrecorta y no se ve bien (se ve el color de fondo). En ordenador conlleva a que deje de verse bien porque ajusta el tamaño de la pantalla al que le indiques tu por lo que deja de verse bien, lo podemos poner al final y preguntarle la semana que viene a ver*/
}

body{
	box-sizing: border-box;
	margin: 0 auto;
	width: 80%;
	font-family: 'PT Sans', sans-serif;
	background-image: url("./background-image/background-farm-school.jpg");
	background-color: #A58F55; /*color por si la imagen no esta disponible*/
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 15px;
	position: relative;
}

	/***********************CLASES***********************/

		.tituloJuego{
			border-top: 0.3em solid #8A6300;
			padding-top: 2%;
			margin-bottom: 2%;
		}

		.botones{
			display: table;
			text-decoration: none;
			color: #ffffff;
			border: 0.2em solid #8E7345;
			border-radius: 1em;
			cursor: pointer;
			background-color: #C6943D;
			height: 1.5em;
			width: 15em;
			text-align: center;
			font-weight: bold;
			margin: auto;
		}

		.botones:hover{
			background-color: #ffffff;
			color: #000000;
		}

		.botones:focus{
			background-color: #ffffff;
			color: #000000;
		}

			.botones>span{
				display: table-cell;
				vertical-align: middle;
			}

		.botones-modal{
			height: 3em;
			width: 8em;
		}

		.preguntas{
			font-size: 100%;
			font-weight: bold;
			display: flex;
			justify-content: center;
		}

			.preguntas>span{
				align-self: center;
			}

			.preguntas>img{
				width: 5%;
				height: 5%;
				align-self: center;
				margin-left: 3%;
				margin-right: 3%;
			}

		.respuestas{
			display: flex;
			flex-wrap: wrap;
		}

		.respuestas>p{
			background-color: #CB8947;
			border: 0.2em solid #784919;
			padding: 5%;
			font-size: 100%;
			color: #ffffff;
			cursor: pointer;
		}

			.respuestas>p:active{
				background-color: #ffffff;
				color: #000000;
			}

		.drop-hover{
			background-color: #ffffff !important;
			color: #000000 !important;
		}

		.drop-hover-image{
			filter: brightness(115%) !important;
		}

		.modal{
			width: 100%;
			height: 100%;
			background: rgba(204, 157, 111, 0.8);
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			animation: modal 0.5s 0s forwards;
			z-index: 48; 
		}

		.contenido{
			margin: auto; 
			width: 40%;
			height: 20em;
			background-color: #C38345;
			border-radius: 10px;
			border: 0.3em solid #8E531A;
			z-index: 50;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

			.contenido>p{
				font-weight: bold;
				color: #000000;
				margin: auto;
				font-size: 25px;
			}


	/****************************************************/

	body>main{
		background-color: #DEC78D;
		border-left: 0.3em solid #8A6300;
		border-right: 0.3em solid #8A6300;
	}

		body>main>header{
			background-color: #B2913A;
			border-top: 0.3em solid #8A6300;
			border-bottom: 0.3em solid #8A6300;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			text-align: center;
		}

			body>main>header>a{
				overflow: hidden;
				transition: all .35s ease-in-out;

			}

			body>main>header>a:hover{
				filter: brightness(115%);
				cursor: pointer;
			}

			body>main>header>a:focus{
				filter: brightness(115%);
			}

				body>main>header>a>img{

					width: 200px;
					height: 150px;

				}

		body>main>div{
			display: table;
			margin-bottom: 2%;
			width: 100%;
		}

			body>main>div>h2{
				display: table-cell;
				margin: 0;
				text-align: center;
				height: 100%;
				margin: auto;
				font-size: 150%;
				vertical-align: middle;
			}


	/*MENÚ*/

	body>main>nav{
		display: block;
		text-align: center;
		position: relative;
		text-align: center;
		top: 0px;
		font-size: 25px;
	}
		body>main>nav>h2{
			margin-top: 10%;
		}
		body>main>nav>ul{
			display: block;
			margin: 0;
			padding: 0;
			height: 100%;
			font-weight: bold;
			margin-bottom: 10%;
		}
			body>main>nav>ul>li{
				list-style: none;
				display: block;
			}
				body>main>nav>ul>li>a{
					display: block;
					color: #000000;
					padding: 0.7em;
					text-decoration: none;
				}

				body>main>nav>ul>li>a:hover{
					background-color: #896400;
					color: #ffffff;
					cursor: pointer;
				}

				body>main>nav>ul>li>a:focus{
					background-color: #896400;
					color: #000000;
				}

					body>main>nav>ul>li>a>span:first-of-type{
						margin-right: 0.2em;
					}

				body>main>nav>input{
					display: none;
				}

				body>main>nav>label{
					display: none;
					position: relative;
					color: #ffffff;
					padding: 0.7em;
					text-decoration: none;
				}
				body>main>nav>label:hover{
					background-color: #ffffff;
					color: #000000;
					cursor: pointer;
					border-radius: 10px;
				}

					body>main>nav>label>span{
						display: inline-block;
					}

	/*VÍDEO*/

	body>main>h3{
		text-align: center;
		font-size: 30px;
		position: relative;
		display: block;
		font-weight: bold;
		margin-top: 2em;
	}

	body>main>video{
		height: 50%;
		width: 80%;
		position: relative;
		display: block;
		margin: auto;
		margin-bottom: 5em;
	}

	/*JUEGOS*/

	/*Este lo tienes que retocar tu Hector para que quepa en pantalla de tablet, el minimo que he visto es de 768 y 1024 px, he hecho que el html ocupe eso por narices por lo que, en ordenador se ve mal pero como esta orientado a tablets pues supongo que ira bien la cosa*/
	
	body>main>#contarCasas{
		background-image: url("./imagenes/contar-casas/fondo-contar-casas.png");
		background-color: #4DC1FF; /*para el color del cielo*/
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-top: 0.3em solid #8A6300;
		border-bottom: 0.3em solid #8A6300;
		margin-bottom: 2%;
	}

		body>main>#contarCasas>div{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-top: 3em;
			margin-left: 3em;
		}

			body>main>#contarCasas>div>figure{
				display: flex;
				margin: 0;
				width: 20%;
			}

				body>main>#contarCasas>div>figure:first-of-type{
					border: 0.5em solid #DC2825;
					border-radius: 1em;
					width: 25%;
				}

				body>main>#contarCasas>div>figure:nth-child(even){
					align-self: flex-end;
				}

				body>main>#contarCasas>div>figure:nth-child(odd){
					align-self: flex-start;
				}

					body>main>#contarCasas>div>figure>a{
						overflow: hidden;
						transition: all .35s ease-in-out;
						width: 100%;
						height: 100%;
					}

					body>main>#contarCasas>div>figure>a:hover{
						filter: brightness(115%);
					}

					body>main>#contarCasas>div>figure>a:focus{
						filter: brightness(115%);
					}

						body>main>#contarCasas>div>figure>a>img{
							width: 100%;
							height: 100%;
						}


	/*Este es el mio y es el que he retocao yo, a tamaño de tablet siempre se ve bien, he hecho porcentajes y tal para que funcione*/

	#contarVerduras{
		background-image: url("./imagenes/contar-verduras/huerto3-sin-hojas.png");
		background-color: #4DC1FF; /*para el color del cielo*/
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-top: 0.3em solid #8A6300;
		border-bottom: 0.3em solid #8A6300;
	}

		#contarVerduras>div{
			display: flex;
			flex-wrap: wrap;
			margin: 2%;
		}

			#contarVerduras>div>figure{
				margin: 0;
				width: 6.5%;
				margin-right: 1%;
				margin-bottom: 3%;
			}

			#contarVerduras>div>figure>img{
				width: 100%;
				height: 100%;
			}


		#contenedorResultados{
			text-align: center;
			height: 100%;
			padding-bottom: 2%;
			border-bottom: 0.3em solid #8A6300;
		}

			#contenedorResultados>#ponerRespuestas{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				color: #ffffff;
			}

				#contenedorResultados>#ponerRespuestas>div{
					width: 47%;
					height: 100%;
				}

				#contenedorResultados>#ponerRespuestas>#respuestas{
					display: flex;
					justify-content: space-between;
					align-self: center;
					margin-left: 1%;
				}

				#contenedorResultados>#ponerRespuestas>#colocarRespuesta{
					background-color: #AB7C4E;
					border: 0.3em solid #885522;
					padding-top: 7%;
					padding-bottom: 7%;
					align-self: center;
					margin-right: 1%;
				}

					#contenedorResultados>#ponerRespuestas>#colocarRespuesta>p{
						margin: 0;
					}


	#sumarAnimales{
		background-image: url("./imagenes/sumar/cesped.png");
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-top: 0.3em solid #8A6300;
		border-bottom: 0.3em solid #8A6300;
		display: flex;
		justify-content: space-between;
	}

		#sumarAnimales>div{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
		}

		#sumarAnimales>#animalesDentro{
			background-image: url("./imagenes/sumar/corral-propio-cuadrado-abierto-r.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			margin: 0 auto;
			height: 100%;
		}

			#sumarAnimales>div>figure{
				width: 10%;
				height: 10%;
				margin: 0;
				margin: 10%;
			}

				#sumarAnimales>div>figure>img{
					width: 100%;
					height: 100%;
				}



		body>main>button{
			margin-top: 3em !important;
			margin-bottom: 2em !important;
		}


	/*FOOTER*/

	body>main>footer{
		clear: both;
		text-align: center;
		background-color: #B2913A;
		padding: 1em;
		border-top: 0.3em solid #8A6300;
		border-bottom: 0.3em solid #8A6300;
	}

		body>main>footer>p{

			color: #000000;
			margin: 0;
			font-size: 15px;

		}

		body>main>footer>p>strong>a{
			text-decoration: none;
			color: #000000;
		}

			body>main>footer>p>strong>a:hover{
				color: #ffffff;
				cursor: pointer;
			}

			body>main>footer>p>strong>a:focus{
				color: #ffffff;
			}


	/*MEDIA QUERIES*/

	@media all and (min-width: 1200px){

	}